@model ParkWeb_11.Models.NationalPark
@{
    ViewData["Title"] = "Upsert";
    var title = Model.Id != 0 ? "EditNationalPark" : "NewNationalPark";
    var saveUpdate = Model.Id != 0 ? "Update" : "save";
}
<form method="post" enctype="multipart/form-data">
    @Model.Id !=0
    {
    <input type="hidden" asp-for="@Model.Id" />
    }
    <div class="row-border">
        <div class="col-10 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-4">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>            
            <div class="form-group row">
                <div class="col-4">
                  <label asp-for="State"></label>
                </div>
                <div class="col-4">
                  <input asp-for="State" class="form-control" />
                  <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Picture"></label>
                </div>
                <input type="file" name="files" id="ProjectImage" multiple asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Established"></label>
                </div>
                @{
                    var dataEst = "";
                    if (Model.Id != 0)
                    {
                        dataEst = Model.Established.ToShortTimeString();
                    }
                }
                    <div class="col-8">
                        <input id="datapickers" type="text" value="@dataEst" asp-for="Established" class="form-control" />
                        <span asp-validation-for="Established" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-success form-control">
                                @saveUpdate
                            </button>
                        </div>
                        <div class="col-4 offset-4">
                            <a asp-action="Index" class="btn btn-info form-control">
                                Back To List
                            </a>
                        </div>
                    </div>                
            </div>
            <div class="col-4">
                @if(Model.Picture != null)
                {
                    var base64 = Convert.ToBase64String(Model.Picture);
                    var imgsrc = string.Format("data:image/jpg;base64,{0}",base64);
                    <img src = "@imgsrc" width = "100%"; />
                }
                else
                {
                  <p class="text-danger">No Image Found</p>
                }
            </div>
        </div>
    </div>
</form>
@section scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(function () {
            $("#datepickers").datepickers({
                changemonth: true,
                changeyear:true
            })
        })
    </script>
}

